/* #page-container {
    display:inline grid;
    
} */

#grid-template {
    display: grid;
    grid-template-columns: 130px 750px 1fr;
    grid-template-rows: 65px 48px 1fr 83px;
    align-items: center;
}


#search-input {
    width: 560px;
    height:34px;
    font-size: 16px;
    border: none;
    outline:none;
    
    
}
#input-container {
    
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 717px;
    align-items: center;
    justify-content: center;
}
#input-container:hover {
    box-shadow: 0px 1px 6px rgba(32,33,36,0.28);

}
#search-divider {
    border-left: 1px solid #dfe1e5;
    height: 65%;
}

#microphone {
    height: 22px;
    padding: 0 0 0 8px;
}
#magnify-glass {
    height: 17px;
    padding: 0 8px;
}

#logo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
        
}
#logo {
    height: 30px;
    width: 92px;
}

.search-bar {
    margin: 10px 0 0 0;
}

button {
font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-top: 10px;
    margin-right: 25px; */
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #1a73e8;
    border: 1px solid transparent;
    color: #fff;
    float: right;

}

.lBbtTb {
    height: 100%;
    color: #80868b;
    vertical-align: middle;
    padding: 0 8px 0 0;
    
}

.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.nav-bar {
    grid-row: 2;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: inherit;
    border-bottom: 1px solid #ebebeb;
}

#nav-section {
    display: flex;
    align-items: flex-start;
    grid-column: 2;
    position: relative;
    left: 25px;
}

.buttons {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 11px 1px 0;
    color: #666;
    font-size: 13px;
    padding: 16px 12px 12px 10px;
    line-height: 16px;

}

.link {
    color:#5f6368;
}

a {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-family: arial,sans-serif;
}

.icon {
    
    display: inline-block;
    fill: currentColor;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 80px;
}

.other { 
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-family: arial,sans-serif;
}

.search-results-column {
    display: block;
    align-items: flex-start;
    grid-column: 2;
}

#search-speed {
    padding: 20px 0 0 40px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #70757a;
}

#info-box {
    display: inline-block;
    width: 652px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    font-family: arial,sans-serif;
    font-weight: normal;
    color: #222;
    margin: 20px 0 0 40px;
    padding: 10px;
}

#info-box-small-link{
    font-size: 14px;
    padding-top: 1px;
    line-height: 1.3;
    color: #202124;
    font-style: normal;
}
#link-right {
    color: #5f6368;
    font-size: 14px;
    padding-top: 1px;
    line-height: 1.3;
    
}
#link-left:visited { text-decoration: none; color:#202124;}
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.search-link-big {
    font-size: 20px;
    line-height: 1.3;
    color: #1a0dab;
    padding-top: 4px;
    margin: 0;
}

.standard-search-results {
    display: inline-block;
    width: 652px;
    font-family: arial,sans-serif;
    font-weight: normal;
    color: #4d5156;
    margin: 50px 0 0 20px;
    padding: 10px;
}

.search-link-big:hover {
    text-decoration: underline;
}

.description-results {
    color: #4d5156;
    line-height: 1.58;
    word-wrap: break-word;
    font-size: 14px;
    font-family: Arial, sans-serif;
    position: relative;
    top: -10px;

}

